.ChooseToDo {
  display: flex;
  justify-content: space-between;
  width: 20%;
  position: absolute;
  right: 60px;
}
.btnChoose1,
.btnChoose2 {
  margin-top: 2.8rem;
  display: inline-block;
  padding: 0.4rem;
  border: none;
  border: 0.1rem solid #e0e0e0;
  box-shadow: 0 0 10px 3px rgba(61, 80, 158, 0.7);
  color: #e0e0e0;
  font-size: 1.1rem;
  width: 50%;
  background-color: #2b495e;
}
.btnChoose1 {
  border-end-start-radius: 2rem;
  border-start-start-radius: 2rem;
}
.btnChoose2 {
  border-start-end-radius: 2rem;
  border-end-end-radius: 2rem;
}
.btnChoose1:hover,
.btnChoose2:hover {
  font-size: 0.9rem;
  cursor: pointer;
}

.selected {
  background-color: #9dc7ee;
  color: #2b495e;
  font-size: 1.4rem;
}
.selected:hover {
  font-size: 1.4rem;
}
