.ChooseToDo {
  grid-row: 2;
  grid-column: -2/-1;
  display: flex;
  justify-content: space-between;
}
.btnChoose1,
.btnChoose2 {
  display: inline-block;
  width: 50%;
  font-size: large;
  background-color: #8a44eb;
  border-top: 0px;
  border-bottom: 0.3rem solid black;
}
.btnChoose1 {
  border-left: 0.3rem solid black;
  border-right: 0.15rem solid black;
}
.btnChoose2 {
  display: inline-block;
  border-right: 0.3rem solid black;
  border-left: 0.15rem solid black;
}
.btnChoose1:hover,
.btnChoose2:hover {
  cursor: pointer;
  background-color: rgb(139, 73, 201);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.btnChoose1:active,
.btnChoose2:active {
  font-size: 1.8rem;
}
