* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Comic Relief;
}
html {
  font-size: 62.5%;
}

.appGrid {
  background-color: #e0e0e0;
  display: grid;
  grid-template-rows: 11rem 5rem 1fr;
  grid-template-columns: 1fr 150px;
  height: 100vh;
}
.title {
  width: 100%;
  text-align: center;
  background-color: #2b495e;
  padding: 2.7rem;
  font-size: 4rem;
  letter-spacing: 0.3rem;

  border-radius: 1.5rem;
  border: 0.2rem solid #e0e0e0;
  box-shadow: 0 0 10px 3px rgba(61, 80, 158, 0.7);
  color: #9dc7ee;
}

.header {
  margin-top: 2.4rem;
  margin-left: 1rem;
  margin-right: 1.2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userIcon {
  position: absolute;
  right: 25px;
  top: 50%;
  padding: 0.3rem;
  transform: translateY(-50%);
  border: 0.1rem solid #9dc7ee;
  border-radius: 100%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.userIcon:hover {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}
.userMenuWrapper {
  position: relative;
  display: inline-block;
}

.userDropdown {
  position: absolute;
  top: 20px;
  right: 55px;
  background: white;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  min-width: 180px;
  z-index: 10;
}

.helloText {
  margin: 0 0 10px 0;
  font-size: 14px;
}

.logoutBtn {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.logoutBtn:hover {
  background: #e04444;
}
.starWrapper {
  position: relative;
}

.starNumber {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-top: 4px;
  top: 3.3rem;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s ease;
}

.starWrapper:hover .starNumber {
  opacity: 1;
}
.infoHeadertitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-decoration: underline;
  font-weight: bold;
  border-bottom: 1px solid gray;
}
