.info {
  display: grid;
  grid-template-columns: 1fr 15rem;
}
.chooseSubject {
  border: 0.3rem solid black;
  border-top: 0;
  border-bottom: 0;
  background-color: rgba(142, 111, 146, 0.444);
}
.chooseHeader {
  text-align: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-bottom: 2rem;
  border-bottom: 0.3rem solid black;
}
.chooseSubject {
  display: flex;
  flex-direction: column;
}
.subjectsFlex {
  display: flex;
  flex-direction: column;
}
.subjectBtn {
  align-self: center;
  width: 80%;
  padding: 1rem;
  border-radius: 12px;
  border: 0;
  background: #cab8ff;
  color: black;
  font-weight: 600;
  transition: 0.25s;
}

.subjectBtn:hover {
  cursor: pointer;
  background: #7b4bff;
  color: white;
}

.subjectBtn:active {
  transform: scale(0.95);
}
.chsActive {
  border: 1.5px solid purple;
  box-shadow: 0 0 10px 3px rgba(94, 4, 114, 0.7);
  transition: box-shadow 0.3s ease-in-out;
}
.infoHeader {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  font-size: 3.5rem;
  text-align: center;
  text-decoration: underline;
}
.RateGrid {
  background-color: rgba(142, 111, 146, 0.444);
  display: grid;
  grid-template-rows: 8rem 5rem 30rem;
}
.chooseForm {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  font-size: 1.6rem;
  padding-left: 2rem;
}
.inputForm {
  padding: 1rem;
  width: 30rem;
  border-radius: 12px;
  border: 1px solid #484848;
}
.flexSearchAndRate {
  display: flex;
  justify-content: space-between;
}
.btnRest {
  border: none;
  background-color: rgba(213, 187, 216, 0.444);
  padding-right: 3rem;
  text-decoration: underline;
}
.btnRest:hover {
  cursor: pointer;
  font-size: 1.4rem;
}
.rate {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  gap: 3.5rem;
}
.addBtn {
  width: 10rem;
  padding: 1rem;
  text-align: center;
  align-self: end;
  border-radius: 12px;
  border: 1px solid #484848;
}
.addBtn:hover {
  cursor: pointer;
  border: 1.5px solid purple;
  box-shadow: 0 0 10px 3px rgba(94, 4, 114, 0.7);
  transition: box-shadow;
}
.searchDropdown {
  position: absolute;
  background: white;
  width: 250px;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 50px;
  z-index: 1000;
}

.searchItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.searchItem:hover {
  background-color: #f4f4f4;
}

.smallAddress {
  font-size: 0.8rem;
  color: gray;
}
.chooseRestMsg {
  align-self: center;
  justify-self: center;
  font-size: 5rem;
}
.infoIcon {
  position: absolute;
  top: 24.8rem;
  left: 34rem;
  align-self: center;
  justify-items: center;
  color: rgb(21, 10, 236);
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.infoIcon:hover {
  color: rgb(33, 102, 192);
  transform: scale(1.1);
}
.infoBubble {
  position: absolute;
  background: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: #333;
  font-size: 1.2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  top: 26rem;
  left: 37rem;
  max-width: 200px;
}
.flashRated {
  color: red;
  transform: scale(1.15);
  transition: all 0.25s ease;
}

.btnRest {
  transition: all 0.25s ease;
}
