.info {
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr;
}
.chooseSubject {
  border: 0.2rem solid #e0e0e0;

  background-color: #2b495e;
}
.chooseHeader {
  text-align: center;
  font-weight: 100;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid #e0e0e0;
}
.chooseSubject {
  margin: 1rem;
  border-radius: 1.5rem;
  grid-row: 1/-1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  color: #9dc7ee;
  box-shadow: 0 0 10px 3px rgba(61, 80, 158, 0.7);
}
.subjectsFlex {
  display: flex;
  flex-direction: column;
}
.subjectBtn {
  align-self: center;
  width: 80%;
  padding: 1rem;
  border-radius: 12px;
  border: 0;
  background: #a8b7ca;
  color: black;
  font-weight: 600;
  transition: 0.25s;
}

.subjectBtn:hover {
  cursor: pointer;
  background: #e0e0e0;
  color: #2b495e;
}

.subjectBtn:active {
  transform: scale(0.95);
}
.chsActive {
  border: 1.5px solid rgb(66, 107, 185);
  box-shadow: 0 0 10px 3px rgba(61, 80, 158, 0.7);
  transition: box-shadow 0.3s ease-in-out;
}
.infoHeader {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  font-size: 3.5rem;
  text-align: center;
  text-decoration: underline;
}
.RateGrid {
  background-color: #2b495e;
  display: grid;
  grid-template-rows: 8rem 5rem 30rem;
  color: #9dc7ee;
  margin: 1rem;
  margin-top: -1.5rem;
  border-radius: 1.5rem;
  border: 0.2rem solid #e0e0e0;
  box-shadow: 0 0 10px 3px rgba(61, 80, 158, 0.7);
  position: relative;
}
.chooseForm {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  font-size: 1.6rem;
  padding-left: 2rem;
}
.inputForm {
  padding: 1rem;
  width: 30rem;
  border-radius: 12px;
  border: 0.2rem solid #5b5b5b;
}
.flexSearchAndRate {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.btnRest {
  border: none;
  background-color: #2b495e;
  margin-right: 6em;
  text-decoration: underline;
  color: #9dc7ee;
  width: 200;
}
.btnRest:hover {
  cursor: pointer;
  font-size: 1.4rem;
}
.rate {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  gap: 3.5rem;
}
.addBtn {
  width: 10rem;
  padding: 1rem;
  text-align: center;
  align-self: end;
  border-radius: 12px;
  border: 2px solid #9dc7ee;
}
.addBtn:hover {
  cursor: pointer;
  border: 1.5px solid #2b495e;
  box-shadow: 0 0 10px 3px #9dc7ee;
  transition: box-shadow;
}
.searchDropdown {
  position: absolute;
  background: white;
  width: 250px;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 50px;
  margin-left: 1rem;
  z-index: 1000;
  color: #2b495e;
}

.searchItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.searchItem:hover {
  background-color: #f4f4f4;
}

.smallAddress {
  font-size: 0.8rem;
  color: gray;
}
.chooseRestMsg {
  align-self: center;
  justify-self: center;
  font-size: 5rem;
}
.infoIcon {
  position: absolute;
  top: 9.3rem;
  left: 34rem;
  align-self: center;
  justify-items: center;
  color: rgb(175, 221, 228);
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.infoIcon:hover {
  color: rgb(33, 102, 192);
  transform: scale(1.1);
}
.infoBubble {
  position: absolute;
  background: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: #333;
  font-size: 1.2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  top: 12rem;
  left: 37rem;
  max-width: 200px;
  z-index: 100;
}
.flashRated {
  color: red;
  transform: scale(1.1);
  transition: all 0.25s ease;
}

.btnRest {
  transition: all 0.25s ease;
}
.seperateTheCard {
  display: flex;
  gap: 20rem;
}
