.ratedRestGrid {
  background-color: rgba(142, 111, 146, 0.444);
  display: grid;
  grid-template-rows: 8rem 1fr;
}
.ratedRestTitle {
  text-align: center;
  text-decoration: underline;
  margin-top: 2rem;
  font-size: 3rem;
}

.restList {
  padding-left: 2rem;
  list-style-type: disc;
  overflow-y: auto;
  max-height: calc(100vh - 26rem);
  margin-left: 4rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.restList::-webkit-scrollbar {
  width: 10px;
}

.restList::-webkit-scrollbar-thumb {
  background: blueviolet;
  border-radius: 8px;
}

.restList::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.315);
  border-radius: 8px;
}
.restElement {
  margin-top: 1rem;
}
.update-msg {
  font-size: 1rem;
  text-align: center;
  margin-left: 2rem;
}
.noRatedMsg {
  margin-left: 1rem;
  text-align: center;
}
