/* עטיפה כללית של הדף */
.WHYgrid {
  padding: 2rem;
  margin: 1rem;
  margin-top: -1.5rem;
  border-radius: 1.5rem;
  border: 0.2rem solid #e0e0e0;
  background-color: #2b495e;
  color: #9dc7ee;
  box-shadow: 0 0 15px rgba(61, 80, 158, 0.6);

  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
  position: relative;
}

/* כותרת הדף */
.WHYheader {
  padding-top: 0.3rem;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid gray;
  margin-left: -2rem;
  margin-right: -2rem;
  padding-bottom: 2rem;
  text-decoration: underline;
}

/* אזור שתי הקופסאות */
.seperate {
  display: flex;
  gap: 2rem;
}

/* קופסת מידע */
.WHYsection {
  background: #f2f4f8;
  border-radius: 14px;
  padding: 1.8rem;
  width: 100%;
  color: #2b495e;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-height: 50rem;
  display: flex;
  flex-direction: column;
}

/* כותרת בתוך קופסה */
.WHYsection h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  border-bottom: 2px solid #9dc7ee;
  padding-bottom: 0.3rem;
}

/* רשימות */
.WHYlist {
  overflow-y: auto;
  padding-right: 0.5rem;

  max-height: 43rem;
}

/* פריט */
.WHYitem {
  padding: 0.8rem 0;
  border-bottom: 1px solid #d6dbe3;
}

.WHYitem:last-child {
  border-bottom: none;
}

.WHYrestName {
  font-weight: 700;
  font-size: 1.2rem;
  color: #4b275f;
}

.WHYrestAdd {
  font-size: 0.9rem;
  color: #666;
}

.WHYscores {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  color: #333;
}

/* הודעות */
.loadingMsg {
  font-size: 1rem;
  color: #4b5f73;
}

.sameRate {
  font-size: 1.1rem;
  color: green;
  margin-top: 0.5rem;
}

/* כפתור חזרה */
.WHYback {
  display: flex;
  justify-content: center;
}

.WHYback button {
  background-color: #98c5f2;
  width: 5%;
  height: 20px;
  color: #395cc7;
  padding: 0.1rem 1.4rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s ease;
}

.WHYback button:hover {
  background-color: #d1e9ff;
  color: #256796;
}
