.WLMgrid {
  background-color: rgba(142, 111, 146, 0.444);
  display: grid;
  grid-template-rows: 8rem 1fr;
}
.GetFamiliarGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.WLMtitles {
  text-align: center;
  margin-top: 2rem;
  text-decoration: underline;
}
.wnlmInfo,
.wlmInfo {
  border-top: 1px solid black;
}
.wnlmInfo {
  border-right: 0.5px solid black;
}
.wlmInfo {
  border-left: 0.5px solid black;
}
.ordermsg {
  margin-left: 1rem;
  margin-top: 1rem;
}
.simUser {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 1rem;
}
.seeWhy {
  background: none;
  border: none;
  color: #0d4f5ae3;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

.seeWhy:hover {
  color: #0051b3;
  text-decoration: none;
}
.toscroll {
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 1.3rem;
  overflow-y: auto;
}
.RateFirst {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: rgb(214, 35, 35);
}
