/* רקע כללי של הדף */
.WLMgrid {
  background-color: rgba(142, 111, 146, 0.2);
  padding: 2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}

/* כותרת עליונה */
.infoHeader {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}

/* גריד של שתי הקופסאות */
.GetFamiliarGrid {
  display: flex;
  gap: 1rem;
}

/* קופסה כללית */
.wlmInfo,
.wnlmInfo {
  background: white;
  border-radius: 10px;
  padding: 1.5rem;
  width: 85%;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* כותרות הקופסאות */
.WLMtitles {
  margin-bottom: 1rem;
  text-decoration: underline;
}

/* הודעות עזר */
.loadingMsg {
  font-size: 1.1rem;
}
.RateFirst {
  font-size: 1.1rem;
  color: #4b275f;
}
.ordermsg {
  color: #444;
  margin-bottom: 0.5rem;
}

/* אזור גלילה */
.toscroll {
  max-height: 35rem;
  overflow-y: auto;
  padding-right: 0.5rem;
}

/* כל משתמש */
.simUser {
  padding: 0.7rem 0;
  border-bottom: 1px solid #ddd;

  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.simUser:last-child {
  border-bottom: none;
}

/* כפתור see why */
.seeWhy {
  background-color: #6e4b80;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: 0.2s;
  margin-bottom: 4px;
}
.seeWhy:hover {
  background-color: #4e2f5f;
}
